
<app-custom-pipes></app-custom-pipes>


<!-- <div>
  <table  *ngFor="let employee of employees">
  
    <table class="table">
    
      <tbody>
        <tr>
        

       
          <td [ngClass]="{'text_a':employee.userId%2==0}" [hidden]="false">{{employee.userId}}{{employee.name}}{{employee.Age}}</td>
        </tr>
    
      </tbody>
    </table>
  </table>
</div> -->


<!-- <td>
          {{employee.userId}}
        </td>
        <td>
          {{employee.name}}
        </td>
        <td>
          {{employee.Age}}
        </td> -->


          <!-- employees.slice(0,3) -->

            <!-- <th class="text-a" scope="row" *ngIf="i==3" [hidden]="true">
            {{employee.userId}}{{employee.name}}{{employee.Age}}</th> -->
          <!-- <td id="one">{{employee.userId}}</td>
         <td >{{employee.name}}</td>
          <td>{{employee.Age}}</td> -->
             <!-- <td [ngStyle]="{'color':employee.userId%2==0?'red':'green'}" [hidden]="false">{{employee.userId}}{{employee.name}}{{employee.Age}}</td> -->